.container
  .columns.action-color-0.conclude-block
    .column.conclude-title
      AÇÕES CONCLUIDAS
  .columns.conclude-color.is-multiline
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-block.is-4
      .action-image
        = image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-block-button action-color-0"
      .action-block-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-block-title
        %b
          24.03 /// Sábado
        %br
          9h
