.container
  .columns.action-color-0.conclude-label
    .column.conclude-title
      QUEM FAZ A DIFERENÇA
  .columns.conclude-color.is-multiline
    .column.is-6
      .gallery-title
        #iten_1
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_2
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_3
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
    .column.is-6
      .gallery-title
        #iten_5
          AÇÃO #73 /// SOL NASCENTE /// 24.03.2018
      .gallery-image
        = image_tag 'https://farm1.staticflickr.com/786/41034057941_83481b71a3_z.jpg'
