.container
  .columns.is-centered
    .column.is-four-fifths
      .bxslide_action
        %li
          = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/bf6193732aa710083397881717f7157e.png'
        %li
          = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/f456a4198ae6dc046b9b3832280c2bdb.png'
        %li
          = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/d344b1132565d8be710fdc3ddfaed361.png'
        %li
          = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/21b2403a6f50303437a9e3f7544fc62b.png'
  .columns
    .column.about-action.is-2
      %span.about-action-title
        Sobre
    .column.about-action-text
      %p
        AÇÕES URBANAS COMUNITÁRIAS é um programa desenvolvido pela equipe de Assistência Técnica da CODHAB/DF. Em formato de mutirão, as ações somam a participação de profissionais e estudantes de arquitetura e urbanismo, tanto da Companhia quanto voluntários, e dos moradores das comunidades locais. O intuito é transformar coletivamente o espaço público, conectando governo e sociedade, tornando esta a protagonista da mudança. A seleção das áreas onde acontecem as ações segue critérios específicos. Interesse e articulação da comunidade para melhorar o lugar, inexistência de infraestrutura ou manutenção, possibilidade de arborização e paisagismo, vazios urbanos públicos, conexão com praças ou espaços de relevância e grande fluxo na comunidade são alguns deles. Além de identificar os problemas, é preciso observar o potencial do espaço.
        %br
        %strong
          Maiores Informações: acoescomunitarias@codhab.df.gov.br
      = link_to 'Conheça Melhor', '#',target:'_blank' ,class:"action-button action-button2"
      = link_to 'Manual Ações Urbanas', '#',target:'_blank' ,class:"action-button action-button2"
