.container
  .bxslide_action
    %li
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/bf6193732aa710083397881717f7157e.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/f456a4198ae6dc046b9b3832280c2bdb.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/d344b1132565d8be710fdc3ddfaed361.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/21b2403a6f50303437a9e3f7544fc62b.png'
  .columns
    .column
      .column.about-action.is-2
        %span.about-action-title
          Sobre
      .column.about-action-text
        %p
          AÇÕES URBANAS COMUNITÁRIAS é um programa desenvolvido pela equipe de Assistência Técnica da CODHAB/DF. Em formato de mutirão, as ações somam a participação de profissionais e estudantes de arquitetura e urbanismo, tanto da Companhia quanto voluntários, e dos moradores das comunidades locais. O intuito é transformar coletivamente o espaço público, conectando governo e sociedade, tornando esta a protagonista da mudança. A seleção das áreas onde acontecem as ações segue critérios específicos. Interesse e articulação da comunidade para melhorar o lugar, inexistência de infraestrutura ou manutenção, possibilidade de arborização e paisagismo, vazios urbanos públicos, conexão com praças ou espaços de relevância e grande fluxo na comunidade são alguns deles. Além de identificar os problemas, é preciso observar o potencial do espaço.
          %br
          %strong
            Maiores Informações: acoescomunitarias@codhab.df.gov.br
        = link_to 'Conheça Melhor', '#',target:'_blank' ,class:"action-button action-button2"
        = link_to 'Manual Ações Urbanas', '#',target:'_blank' ,class:"action-button action-button2"
  .columns.is-centered
    .column.is-four-fifths
      %h1.home-title
        Próximas Ações
  .columns
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-1"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-1"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-1"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h

  .columns.is-centered
    .column.is-four-fifths
      %h1.home-title
        Ações Concluídas
  .columns
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-0"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-0"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h
    .column.action-label.is-4
      .action-image
        =image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQyDf0mCrtA9G-xZv1HxdAMPd3ESzWC8TqjGN6Ku3p7L56bEVTg'
      = link_to 'Concluido', '#', class: "action-label-button action-color-0"
      .action-label-title
        Ação Urbana Comunitária
        %br
          Ceilândia-Sol Nascente- Avenida do Produtor
      .action-label-title
        %b
          24.03 /// Sábado
        %br
          9h


  .columns.action-color-2.giant-text.default-margin
    .column.is-6
      %p
        Confira aqui
        %br
        todas as ações concluidas
        %br
        pela CODHAB em sua cidade.
    .column.is-6
      = link_to "Ações concluidas", "#" , class: "action-button-2 action-button-gallery"

  .columns.default-margin.action-title-home.giant-text
    .column.is-6
      %p
        seja um parceiro e colabore
        %br
        para transformar as áreas de interesse
        %br
        social do Distrito Federal
    .column.is-6
      = link_to "Seja Voluntário", "#" , class: "action-button-2 action-button-gallery"

  .columns.default-margin
    .column.no-padding
      .text-button
        = link_to "DADOS GERAIS", "#", class: " button action-color-0"
    .column.no-padding
      .text-button
        = link_to "EQUIPE", "#", class: "button action-color-1"
    .column.no-padding
      .text-button
        = link_to "RELATÓRIO ANUAL", "#", class: "button action-color-2"

  .columns.default-margin
    .column.no-padding
      .action-color-0.giant-title
        Encontre a Ação
  .columns
    .column.no-padding
      %iframe{:src => "https://www.google.com/maps/d/embed?mid=1yz9uyzuqUqOTl5mY0leOov1r2f4", class: "action-map"}
