.container
  .columns
    .bxslide-home{:style => "margin-top:30px;"}
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/files/00486c685ed8aa19bcb7c3573412b0f3.png'
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/files/00486c685ed8aa19bcb7c3573412b0f3.png'
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/files/00486c685ed8aa19bcb7c3573412b0f3.png'
  
  %h2.title.has-text-centered Noticias
  .columns
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
              %p.subtitle.is-6 Habitação - 1 Jan 2019
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
              %p.subtitle.is-6 Habitação - 1 Jan 2019
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
              %p.subtitle.is-6 Habitação - 1 Jan 2019
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
    
  .columns 
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/publicidade1.png",:style => "width:100%; "), "http://www.codhab.df.gov.br/habitabrasilia"
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/publicidade2.png",:style => "width:100%;"), "http://www.codhab.df.gov.br/acoesurbanas"
  .columns 
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/ouvidoria.png",:style => "width:164px;margin-left:35px;margin-top:2px"), "http://www.codhab.df.gov.br/ouvidoria",:target => "_blank"   
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/sic.png"), "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/sinj.png", :style => "width:190px;margin-top:3px"), "http://www.sinj.df.gov.br/SINJ/Pesquisas.aspx",:target => "_blank"
    .column
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/carta120.png", :style => "width:150px;margin-top:7px;"), "http://www.codhab.df.gov.br/cartadeservico/",:target => "_blank"