.container.conclude-color
  .bxslide_action
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/banners_site_03.png'

  .columns.margin-50
    .column.is-size-2.has-text-weight-bold
      o programa

  .columns.improvement-block-color-0.is-multiline.text-color
    .column.is-6
      %p
        As famílias de baixa renda, asseguradas pela lei
        federal nº 11.888/2008, têm direito, hoje, à
        %b
          assistência técnica pública e gratuita
        de profissionais
        de arquitetura, urbanismo e engenharia
        %b
          para o projeto e a construção de habitação de interesse social.
        O objetivo fundamental é promover dignidade
        e qualidade à casa e ao espaço público, alcançando
        aspectos de
        %b
          salubridade, acessibilidade e segurança.

    .column.is-6
      %p
        %b
          Melhorias Habitacionais
        é um dos programas
        promovidos pela CODHAB/DF como implementação
        da assistência técnica no Distrito Federal.
        Vinculado ao eixo Projeto Na Medida, do Habita
        Brasília, programa habitacional do DF, o programa
        consiste em oferecer à população de baixa
        renda
        %b
          projetos e obras de reformas residenciais no valor máximo de R$13.500,00.

    .column.is-4
      .column.is-9.improvement-miniblock-color-0.has-text-centered.has-text-weight-bold
        editais de licitação
        %br
        = link_to "2016", "#"
        |
        = link_to "2016", "#"

      .column.is-9.improvement-miniblock-color-0.has-text-centered.has-text-weight-bold
        editais de credenciamento
        %br
        = link_to "2016", "#"
        |
        = link_to "2016", "#"

      .column.is-9.improvement-miniblock-color-0.has-text-centered.has-text-weight-bold
        editais de programa
        %br
        = link_to "2016", "#"
        |
        = link_to "2016", "#"

    .column.is-8
      = image_tag 'http://www.codhab.df.gov.br/portal/12.png'

  .columns.margin-50
    .column.is-size-2.has-text-weight-bold
      legislação

  .columns.improvement-block-color-1.is-multiline
    .column.is-3.improvement-miniblock-color-1.has-text-centered.is-size-6
      %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/8d615c3462b583bb444fcf6675b8dcab.pdf',target:'blank'}
        %b
          lei federal
          %br
        de assistência técnica
    .column.is-3.improvement-miniblock-color-1.has-text-centered.is-size-6
      %a{href:'	http://www.codhab.df.gov.br/uploads/archive/files/caa4b296ccaeef576eb22bc123d65c0a.pdf',target:'blank'}
        %b
          lei distrital
          %br
        de assistência técnica
    .column.is-3.improvement-miniblock-color-1.has-text-centered.is-size-6
      %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/470a163b653e3df800660ee4f2fcc743.pdf',target:'blank'}
        %b
          programa
          %br
        Habita Brasília
    .column.is-3.improvement-miniblock-color-1.has-text-centered.is-size-6
      %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/429ab57d5a497454a4c3cf472668362a.pdf',target:'blank'}
        %b
          programa de trabalho
          %br
        melhorias habitacionais
    .column.is-3.improvement-miniblock-color-1.has-text-centered.is-size-6
      %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/7f94125811c70e0857929ce407123537.pdf',target:'blank'}
        %b
          aplicação de recurso
          %br
        inicial | vigente
  .columns
    .column.improvement-image
      = image_tag 'http://www.codhab.df.gov.br/portal/17.png'

  .columns.margin-50
    .column.is-size-2.has-text-weight-bold
      o que pode ser feito?
  .columns
    .column
      =image_tag 'http://www.codhab.df.gov.br/portal/13-n.png'

  .columns.margin-50
    .column.is-size-2.has-text-weight-bold
      requisitos para participar
  .columns
    .column
      =image_tag 'http://www.codhab.df.gov.br/portal/18.png'
