.container.conclude-color
  .bxslide_action
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/banners_site_01.png'
  .columns
    .column.technical-title
      postos de assistência técnica
  .columns.technical-block
    .column.no-padding.is-6
      %p
        As famílias de baixa renda, asseguradas pela lei federal nº 11.888/2008, têm direito à
        %b
          assistência técnica pública e gratuita
        de profissionais de arquitetura, urbanismo e engenharia
        %b
          para o projeto e a construção ou reforma de habitação de interesse social e o espaço urbano onde se insere.
      %p
        O objetivo fundamental é promover dignidade e qualidade à casa e ao espaço público, melhorando o déficit habitacional
        qualitativo e garantindo aspectos como
        %b
          salubridade, acessibilidade, sustentabilidade e segurança.
      %p
        Pioneira na prática imersiva no Brasil, desde abril de 2015, a Companhia de Desenvolvimento Habitacional do
        Distrito Federal (CODHAB-DF), enquanto entidade do poder público, implementa esta Lei de Assistência Técnica
        %b
          por meio de 10 escritórios de arquitetura e urbanismo dispersos pelo território do Distrito Federal,
        localizados nas comunidades mais pobres e com maior problemática fundiária de Brasília.
    .column.no-padding.is-6
      %p
        As equipes do Postos Avançados da CODHAB-DF trabalham diariamente oferecendo soluções técnicas para os problemas
        urbanos e de arquitetura, facilitando o atendimento à população e promovendo métodos participativos e democráticos
        para a gestão territorial. Cotidianamente, são recebidas demandas comunitárias e realizados atendimentos, promovendo
        informação e transparência.
      %p
        = image_tag 'http://www.codhab.df.gov.br/portal/01.png'
  .columns.default-margin
    .column
      =image_tag 'http://www.codhab.df.gov.br/portal/gif_postos.gif'
  .columns.default-margin.is-multiline
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/2-station_posto.jpg'
        .column.is-4.technical-station-block-close{style: 'padding: 16px !important'}
          .technical-station-title
            Sol Nascente Trecho 1
            %br
            .technical-station-subtitle
              (Ceilândia/DF)
          %p.technical-station-label
            aberto em abril/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto inativo
            %p
              de segunda a sexta de 9h a 17h
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Estrutural
            %br
            .technical-station-subtitle
              (Estrutural/DF)
          %p.technical-station-label
            aberto em abril/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/7-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/5-station_posto.jpg'
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Pôr do sol
            %br
            .technical-station-subtitle
              (Ceilândia/DF)
          %p.technical-station-label
            aberto em setembro/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-close{style: 'padding: 16px !important'}
          .technical-station-title
            QNR
            %br
            .technical-station-subtitle
              (Ceilândia/DF)
          %p.technical-station-label
            aberto em setembro/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto inativo
            %p
              desde março de 2017
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/4-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/9-station_posto.jpg'
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Porto Rico
            %br
            .technical-station-subtitle
              (Santa Maria/DF)
          %p.technical-station-label
            aberto em setembro/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Vila Cauhy
            %br
            .technical-station-subtitle
              (Núcleo Banderante/DF)
          %p.technical-station-label
            aberto em janeiro/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/6-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/16-station_posto.jpg'
        .column.is-4.technical-station-block-close{style: 'padding: 16px !important'}
          .technical-station-title
            Buritizinho
            %br
            .technical-station-subtitle
              (Sobradinho/DF)
          %p.technical-station-label
            aberto em março/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto inativo
            %p
              desde outubro 2016
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Fercal
            %br
            .technical-station-subtitle
              (Fercal/DF)
          %p.technical-station-label
            aberto em março/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/11-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/8-station_posto.jpg'
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Braslândia
            %br
            .technical-station-subtitle
              (Braslândia/DF)
          %p.technical-station-label
            aberto em abril/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            São Sebastião
            %br
            .technical-station-subtitle
              (São Sebastião/DF)
          %p.technical-station-label
            aberto em abril/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/10-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/3-station_posto.jpg'
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Sol Nascente Trecho 2
            %br
            .technical-station-subtitle
              (Ceilândia/DF)
          %p.technical-station-label
            aberto em outubro/2016
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
    .column.is-6
      .columns.is-gapless
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Sol Nascente Trecho 3
            %br
            .technical-station-subtitle
              (Ceilândia/DF)
          %p.technical-station-label
            aberto em março/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/15-station_posto.jpg'
    .column.is-6
      .columns.is-gapless
        .column.is-8.technical-station-image
          =image_tag 'http://www.codhab.df.gov.br/portal/17-station_posto.jpg'
        .column.is-4.technical-station-block-open{style: 'padding: 16px !important'}
          .technical-station-title
            Itapoâ
            %br
            .technical-station-subtitle
              (Sobradinho/DF)
          %p.technical-station-label
            aberto em abril/2015
          %p
            = link_to "+informações", "#", class: 'technical-station-button'
          .technical-station-footer
            %h4
              Posto ativo
            %p
              de segunda a sexta de 9h a 17h
