.container.conclude-color
  .bxslide_action
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-24.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-20.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-21.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-22.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-23.png'
  .columns
    .column
      .station-image
        = image_tag 'http://www.codhab.df.gov.br/portal/2-station_posto.jpg'
  .columns.station-block-open.text-color.has-text-centered
    .column.station-text
      %h2.is-size-4.has-text-weight-bold
        SOL NASCENTE TRECHO 1
        %br
        (Ceilândia/DF)
      %p.station-date.is-italic
        posto aberto em abril/2015
      %h4
        %b
          Posto Inativo
        %br
        de segunda a sexta de 9h a 17h
      %h4
        %b
          Endereço
        %br
        Prolongamento da Av. P4, próximo ao Terminal Rodoviário do PSul, Ceilândia.

  .columns.default-margin
    .column.station-block-color.text-color.has-text-centered
      .is-size-2.has-text-weight-bold.is-underline
        assistência técnica
      %p.responsible.is-size-4
        %b
          Arq. Gustavo Guedes
        %br
        CAU: A75079-4
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Estagiários
      %p.trainee
        Gabriel Costa (Arq.)
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Voluntários
      %p.voluntary
        %b
          Arq. Aisha Mueji
        CAU: |
        %br
        %b
          Arq. Lok Kwan Leung
        CAU: |
        %br
        %b
          Arq. Marcelo vaz
        CAU: |
        %br
        %b
          Arq. Vanda Mavilacana
        CAU: |
        %br
        %b
          Arq. Gabriel Bianchini
        CAU: |
        %br
        %b
          Arq. Denys Mendes
        CAU: |
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Coordenação Anterior
      %p.coordination
        %b
          Arq. Isabela Gardes
        %br
        CAU: A93568-9 | abril/2015 - outubro/2016
        %br
        %b
          Arq. Erick Mendonça
        %br
        CAU: A107477-6 | abril/2015 - abril/2016
        %br
        %b
          Arq. Lucélia Duda
        %br
        CAU: | janeiro/2017 - maio/2017
    .column.station-block-color.text-color.has-text-centered
      .is-size-2.has-text-weight-bold.is-underline
        assistência técnica
      %p.responsible.is-size-4
        %b
          Arq. Gustavo Guedes
        %br
        CAU: A75079-4
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Estagiários
      %p.trainee
        Gabriel Costa (Arq.)
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Voluntários
      %p.voluntary
        %b
          Arq. Aisha Mueji
        CAU: |
        %br
        %b
          Arq. Lok Kwan Leung
        CAU: |
        %br
        %b
          Arq. Marcelo vaz
        CAU: |
        %br
        %b
          Arq. Vanda Mavilacana
        CAU: |
        %br
        %b
          Arq. Gabriel Bianchini
        CAU: |
        %br
        %b
          Arq. Denys Mendes
        CAU: |
      .station-subtitle.is-size-4.is-underline.has-text-weight-bold
        Coordenação Anterior
      %p.coordination
        %b
          Arq. Isabela Gardes
        %br
        CAU: A93568-9 | abril/2015 - outubro/2016
        %br
        %b
          Arq. Erick Mendonça
        %br
        CAU: A107477-6 | abril/2015 - abril/2016
        %br
        %b
          Arq. Lucélia Duda
        %br
        CAU: | janeiro/2017 - maio/2017
