.container.conclude-color
  .bxslide_action
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-24.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-20.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-21.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-22.png'
    %li
      = image_tag 'http://www.codhab.df.gov.br/portal/s-23.png'
  .columns
    .column
      .station-image
        = image_tag 'http://www.codhab.df.gov.br/portal/2-station_posto.jpg'
  .columns.station-block-color-1
    .column.station-text
      %h2
        SOL NASCENTE TRECHO 1
        %br
        (Ceilândia/DF)
      %p.station-date
        posto aberto em abril/2015
      %h4
        %b
          Posto Inativo
        %br
        de segunda a sexta de 9h a 17h
      %h4
        %b
          Endereço
        %br
        Prolongamento da Av. P4, próximo ao Terminal Rodoviário do PSul, Ceilândia.

  .columns.default-margin.station-block
    .column
      .columns
        .column.station-text.station-block-color-2.is-6
          .station-title
            assistência técnica
          %p.responsible
            %b
              Arq. Gustavo Guedes
            %br
            CAU: A75079-4
          .station-subtitle
            Estagiários
          %p.trainee
            Gabriel Costa (Arq.)
          .station-subtitle
            Voluntários
          %p.voluntary
            %b
              Arq. Aisha Mueji
            CAU: |
            %br
            %b
              Arq. Lok Kwan Leung
            CAU: |
            %br
            %b
              Arq. Marcelo vaz
            CAU: |
            %br
            %b
              Arq. Vanda Mavilacana
            CAU: |
            %br
            %b
              Arq. Gabriel Bianchini
            CAU: |
            %br
            %b
              Arq. Denys Mendes
            CAU: |
          .station-subtitle
            Coordenação Anterior
          %p.coordination
            %b
              Arq. Isabela Gardes
            %br
            CAU: A93568-9 | abril/2015 - outubro/2016
            %br
            %b
              Arq. Erick Mendonça
            %br
            CAU: A107477-6 | abril/2015 - abril/2016
            %br
            %b
              Arq. Lucélia Duda
            %br
            CAU: | janeiro/2017 - maio/2017
        .column.is-6
